<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cdstech.christophersimcox.drinkpal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeScreen" />
        <activity
            android:name=".SearchDrinks"
            android:label="@string/title_activity_search_drinks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommonDrinks"
            android:label="@string/title_activity_common_drinks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Options"
            android:label="@string/title_activity_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>